<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p>I'm a flame, you're a fire</p>
<p>I'm a world in need of light</p>
<p>Take me up, take it higher</p>
<p>You're the world in me tonight</p>
<p>Firestone</p>
